section {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100vw;
  height: 100vh;
  background-color: rgb(5, 5, 5);
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
                    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  margin: 0vh 0vw;
  z-index: 1;
}

#zona {
  position: fixed;
  top: 5vh;
  width: 80vw;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.01);
  z-index: 2;
}

#areaDeVoo {
  position: fixed;
  bottom: 5vh;
  width: 80vw;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.01);
  z-index: 2;
}

#nave {
  position: absolute;
  width: 3vw;
  height: 5vh;
  font-size: 2vw;
  transform: rotate(270deg);
}

.tiro {
  width: 0.25vw;
  height: 5vh;
  background-color: red;
  z-index: 3;
}

#status {
  position: fixed;
  top: 5vh;
  left: 1vw;
  width: 10vw;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 3;
}

.txtStatus {
  color: white;
  font-size: 1.5vw;
}

.status {
  height: 4vh;
  width: 6vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}

.meteoro {
  height: 3vw;
  width: 3vw;
  transform: rotate(315deg);
  background: url('./../../../Model/meteoro.svg.svg') no-repeat center;
  background-size: contain;
}

#gameOver{
  width: 100vw;
  height: 100vh;

  z-index: 100;

  input{
    width: 25vw;
    height: 3vh;

    padding-left: 1vw;
    margin: 1vh;

    border-radius: 1vw;
    background-color: rgb(180, 180, 180);
  }
  
  #telinhas{
    width: 200vw;
    height: 100vh;

    display: flex;
    position: absolute;
    left: 100vw;

    .sect{
      width: 100vw;
      height: 100vh;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba(255, 255, 255, 0.2);
    }

    .boxEnd{
      width: 50vw;
      height: 40vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: white;
      border-radius: 2vw;

      #btnEnd{
        width: 40vw;
        display: flex;
        justify-content: space-evenly;

        .btn{
          width: 10vw;
          height: 5vh;

          border-radius: 2vw;
          background-color: rgb(40, 40, 40);
          color: white;

          text-align: center;
        }
      }
      #btnSave{
        width: 40vw;
        display: flex;
        justify-content: space-evenly;

        .btn{
          width: 10vw;
          height: 5vh;

          border-radius: 2vw;
          background-color: rgb(40, 40, 40);
          color: white;

          text-align: center;
        }
      }
    }
  }
}