<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./../css/index/index_link.css">
</head>

<body>
    <section>
        <div id="background"></div>
    
        <div id="candiv">
            <canvas id="can1"></canvas>
        </div>
        <button id="entrar" onclick="window.location.href='game.html';">
            <h1>Enter !</h1>
        </button>
    </section>
    

    <script src="./../../Controller/bg.js"></script>
</body>

</html>